<!DOCTYPE html>
<html lang="en">
  <head> </head>
  <body>
    <header class="header" id="header">
      <div class="logo-container">
        <img
          src="../images/logo.png"
          width="80"
          height="80"
          alt="Coffee Bean Logo"
          class="logo"
        />
      </div>
      <!-- Navigation bar -->
      <nav>
        <ul class="nav-list">
          <li><a href="index.html">Home</a></li>
          <li><a href="coffee.html">Coffee Selection</a></li>
          <li><a href="equipment.html">Brewing Equipment</a></li>
          <li><a href="events.html">Events</a></li>
          <li>
            <a href="subscriptions.html">Special Offers and Subscriptions </a>
          </li>
        </ul>
      </nav>

      <div class="header-actions">
        <a class="cart-btn" href="cart.html">
          <i class="fas fa-shopping-cart" style="font-size: 20px"></i>
          <span class="count">0</span>
        </a>
        <div class="divider"></div>
        <button class="signup-btn button">
          Sign Up <i class="fas fa-arrow-right"></i>
        </button>
      </div>
    </header>
  </body>
</html>
